@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
    --color: #d33bfd; /* création de la variable couleur réutilisable */
}

/* **************** Paramètres généraux ********************** */
body{
    margin: 0%;
    font-family: 'Architects Daughter', cursive;
    color: white;
    background: black;
}

/* *********************** Partie Header et Barre de navigation********************** */

header {
    /* On effectue un dégradé de couleurs pour la tête de pâge */
    background:linear-gradient(#13181d, #20212e, #341b57);
    padding-left:20px;
}

header nav {
    /* On aligne les éléments de la barre de navigation */
    /* Utilisation des flexs boxs: navigation est un conteneur de 2 items*/
    padding: 30px 5% 0 5%; /* marge intérieur ( haut, gauche, bas, droite)*/
    display: flex; /* Par defaut il aligne les élements */
    flex-direction: row; /* valeur par defaut pour aligner sinon column pour empiler */
    flex-wrap: wrap; /* Passage à la ligne si plus de place */
    justify-content: space-between; /* espace entre les 2 items gestion de l'espace) */
    align-items: center;/* alignement des élements */
}

header nav h1 { /* on stylise le premier élement */
    margin: 0; /* on efface les marges autour de l'élément */
    text-transform: uppercase; /* passage du texte en majuscule */  
    color: var(--color); /* création d'une variable où l'on va stocker la valeur pour modifier le thème plus facilement couleur */
}

header nav .right { /* on stylise le deuxième élement */
    display: flex; /*utilisation des flexbox pour aligner les élements */
    align-items: center; /* center les items dans l'élement (div right) */
}

header nav .right p { /* les paragraphes de la div right */
    margin: 0 15px 0 0;
    color: #ccc;
}

header nav .right p:hover { /* lorsque l'utilisateur passe au dessus de l'élément */
    color: white;
    cursor: pointer;
}
/* *************************Début du bouton de navigation ****************************** */

header nav .right button { /* on applique des propriétés au bouton dans la barre de navigation */
    padding: 5px 15px; /* on applique des marges intérieurs pour aérer le bouton (haut/bas, droite/gauche) */
    font-size: 16px; /* modification de la taille du texte */
    background-color: inherit; /* couleur du bouton (inherant prend la couleur du background parent)*/
    border: 1px solid var(--color); /* on définit la bordure du boutton */
    color: var(--color); /* on applique la couleur de la variable à thème pour le bouton*/ 
    border-radius: 5px; /* on arrondis les bords du bouton*/
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s; /* mise en place d'une petite transition */
}

header nav .right button:hover{
    color: inherit; /* effet lorsque l'utilisateur place le curseur sur acehter */
    background-color: var(--color);
}

/* *************************Fin du bouton de navigation ****************************** */

/* ******************Début des paramètres button avec image ****************** */

.presentation-first .product-presentation button{ /* on applique des propriétés au bouton avec les images */
    
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 50px; /* on applique des marges intérieurs pour aérer le bouton (haut/bas, droite/gauche) */
    font-size: 24px; /* modification de la taille du texte */
    background-color: inherit; /* couleur du bouton (inherant prend la couleur du background parent)*/
    border: 1px solid var(--color); /* on définit la bordure du boutton */
    color: var(--color); /* on applique la couleur de la variable à thème pour le bouton*/ 
    border-radius: 5px; /* on arrondis les bords du bouton*/
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s; /* mise en place d'une petite transition */
}
/* ******************Fin des paramètres button avec image ****************** */

/* *******************************Paramètres des images ********************************* */

.small-images{
    display: flex;
    
}
/* *************************Paramètre images description  ***************************** */
.images {
    height: 160px;
    width: 133px;
    border: 1px solid #999;
    border-radius: 5%;
}

.images:hover {
    transform:scale(1.5) ;
    cursor: pointer;
}

/* **********************Paramètres image principale ********************************** */

.image{
    height: 500px;
    width: 400px;
    border: 1px solid #999;
    border-radius: 2%;
}

.image:hover {
    cursor: pointer;
}

/* **************************Organisation de la disposition ************************** */

/* *************************Début du design du footer *********************************** */
footer{
    background-color: #1a1a1a;
    padding: 10px 100px;
    margin: 0;
    color: #a08e8e;
}
footer .colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .colonnes .colonne p:hover{
    transform:scale(1.10);
    cursor: pointer;
}
/* *************************Fin du design du footer *********************************** */


@media screen and (max-width: 640px) { /* celà permet de coder un style pour les ecrans de moins de 640px */
    header nav.right p{
        display: none; /* on masque les paragraphes */
    }
}